<br><br><br>

<!-- Forget Password Form -->
@if(!sendMailFlag){
<div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
    <div class="w-75 m-auto p-4">
        <h1 class="text-center mb-4">Forget Password</h1>
        <form [formGroup]="sendMailForm" (ngSubmit)="sendMail(sendMailForm)">
            <div class="p-3">
                <input formControlName="email" class="form-control" type="email" placeholder="Email">
                @if(sendMailForm.get('email')?.errors !== null && sendMailForm.get('email')?.touched && sendMailError
                === ''){
                <div class="text-danger mt-2">
                    @if(sendMailForm.get('email')?.errors?.['required']){<p>Email is required</p>}
                    @if(sendMailForm.get('email')?.errors?.['email']){<p>Invalid email address</p>}
                </div>
                }
                @if(sendMailError !== ''){
                <div class="text-danger mt-2">
                    <p>{{sendMailError}}</p>
                </div>
                }
            </div>
            <button [disabled]="sendMailForm.invalid" class="btn btn-danger d-block w-50 mx-auto p-2">Send Mail</button>
        </form>
    </div>
</div>
}

<!-- Reset Code Form -->
@if(sendMailFlag && !verifyCodeFlag){
<div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
    <div class="w-75 m-auto p-4">
        <h1 class="text-center mb-4">Reset Code</h1>
        <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode(verifyCodeForm)">
            <div class="p-3">
                <input formControlName="resetCode" class="form-control" type="text" placeholder="Reset Code">
                @if(verifyCodeForm.get('resetCode')?.errors !== null && verifyCodeForm.get('resetCode')?.touched &&
                verifyCodeError === ''){
                <div class="text-danger mt-2">
                    @if(verifyCodeForm.get('resetCode')?.errors?.['required']){<p>Reset Code is required</p>}
                    @if(verifyCodeForm.get('resetCode')?.errors?.['maxlength']){<p>Invalid Reset Code</p>}
                </div>
                }
                @if(verifyCodeError !== ''){
                <div class="text-danger mt-2">
                    <p>{{verifyCodeError}}</p>
                </div>
                }
            </div>
            <button [disabled]="verifyCodeForm.invalid" class="btn btn-danger d-block w-50 mx-auto p-2">Verify
                Code</button>
        </form>
    </div>
</div>
}

<!-- Reset Password Form -->
@if(verifyCodeFlag){
<div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
    <div class="w-75 m-auto p-4">
        <h1 class="text-center mb-4">Reset Password</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
            <div class="p-3">
                <input formControlName="password" class="form-control" type="password" placeholder="Password">
                @if(resetPasswordForm.get('password')?.errors !== null && resetPasswordForm.get('password')?.touched){
                <div class="text-danger mt-2">
                    @if(resetPasswordForm.get('password')?.errors?.['required']){<p>Password is required</p>}
                    @if(resetPasswordForm.get('password')?.errors?.['minlength'] ||
                    resetPasswordForm.get('password')?.errors?.['maxlength'])
                    {<p>Password length should be between 6 and 20 characters</p>}
                </div>
                }
            </div>
            <div class="p-3">
                <input formControlName="confirmPassword" class="form-control" type="password"
                    placeholder="Confirm Password">
                @if(resetPasswordForm.get('confirmPassword')?.errors !== null &&
                resetPasswordForm.get('confirmPassword')?.touched && resetPasswordError === ''){
                <div class="text-danger mt-2">
                    @if(resetPasswordForm.get('confirmPassword')?.errors?.['required']){<p>Confirm Password is required
                    </p>}
                    @if(resetPasswordForm.get('confirmPassword')?.errors?.['minlength'] ||
                    resetPasswordForm.get('confirmPassword')?.errors?.['maxlength'])
                    {<p>Confirm Password length should be between 6 and 20 characters</p>}
                </div>
                }
                @if(resetPasswordError !== ''){
                <div class="text-danger mt-2">
                    <p>{{resetPasswordError}}</p>
                </div>
                }
            </div>
            <button [disabled]="resetPasswordForm.invalid" class="btn btn-danger d-block w-50 mx-auto p-2">Reset
                Password</button>
        </form>
    </div>
</div>
}

<br><br><br>